.div{
display: none;

    }

.container{
display: none;
      }
@media only screen and (max-width:768px) {

.div{
   display: block;
    background-color: black;
    color: white;
    width: 60%;
    height: 100vh;
    position: absolute;
    left: 40%;
    animation: slide-in-right .3s ease-in backwards;
  
    }
    @keyframes slide-in-right {
        0% {
         width: 0;
            opacity: 0;
        }
        100% {
          width: 60vw;
          opacity: 1;        }
      }
      


      

    .li {
    
        font-size: 2.5vh;
        font-weight: 400;
        color: #FFFFFF;
        list-style: none;
        text-align: center;
        padding: 3.5vh 5rem;
        border-bottom: solid .1rem #707070;
        cursor: pointer;
        &:last-child{
            border-bottom: 0;
    
    
           
        }
        &:first-child{
           margin-top: 20%;
    
    
           
        }
    }
    
    
    .active{
        border-left: solid .3rem white;
    
        
    }
    .img{
        background-image: url(../../images/english.png);
        background-size: cover;
        width: 4vw;
        height: 3vh;
        margin: 0 auto;
    
    }
    

// burger
.container{


position: absolute;
  top: 2%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  }

.container:active{
    animation: jello-diagonal-2  1s ease-out ;
}
  

@keyframes jello-diagonal-2 {
    0% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
    30% {
      -webkit-transform: skew(-360deg -360deg);
              transform: skew(-360deg -360deg);
    }
    40% {
      -webkit-transform: skew(25deg, 55deg);
              transform: skew(15deg, 15deg);
    }
    50% {
      -webkit-transform: skew(-15deg, -15deg);
              transform: skew(-15deg, -15deg);
    }
    65% {
      -webkit-transform: skew(5deg, 5deg);
              transform: skew(5deg, 5deg);
    }
    75% {
      -webkit-transform: skew(-5deg, -5deg);
              transform: skew(-5deg, -5deg);
    }
    100% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
  }
  
  
  
  
  
  
  
  .divBurger {
    width: 3rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

  }
    
  }

