.div{
    margin-bottom: 1vh;
}
.bar{
    width: 20vw;
    height: 2vh;
    border: .2rem solid white;
    display: inline-block;
    overflow: hidden;
   

    
}
.progress{
background-color: white;
height: 100%;


animation: slidePercentage 2s ease-in;
}
@keyframes slidePercentage {

    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
    
}

.text{
    color: white;
    font-size: 1.5vh;
    margin: 0 .5rem;
   width: 1rem;
   height: 1rem;
   position: absolute;
   bottom: 50%;
}
.span{
position: relative;
}
.p{
    color: white;
    font-size: 2vh;
    display: inline-block;
  
    margin-right: 1%;
}

@media only screen and (max-width:768px) {
   
 .div{
     text-align: left;
     margin-left: 5%;
 }
 .p{
     margin: .5rem 0;
 }

.bar{
    display: block;
    width: 80vw;
}
    
    
      }

