.div{
    position: relative;
}
.box{
position: absolute;
top: 8rem;
left: 5%;
transform: translate(-8rem -5% );

height: 85vh;
width: 74vw;
background-color: black;
color: white;

animation: slide-in-left .5s ease-in;
}


@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

// content
.h1{
    font-size: 7vh;
    text-align: center;
    margin: 5% 0 3%;
    font-weight: 400;

}

.container{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;

}


.containerContent{
    margin: 1.5rem 0 0 2.5rem;

    display: grid;
grid-template-columns: 3vw 20vw;
grid-template-rows: 20vh 20vh;

 }
.h2{
    font-size: 4vh;
    font-weight: 400;
    margin: 0 0 0 2.5rem;

  
}
.p{
    font-size: 2.2vh;
   

    line-height: 3vh;
    margin: 2.5rem 1rem 1rem 1rem ;
    
}

@media only screen and (max-width:768px) {
    .div{
        position: relative;
    }
    .box{
    position: static;

    
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 1rem;
    
    }
    
    // content

    .h1{
        font-size: 4rem;
        text-align: center;
        margin-top: 0;
        font-weight: 400;
    padding-top: 6rem;
    
    }

    



    .container{
        color: white;
        display: block;

    }
    .containerContent{
        margin-top: 2rem;
        display: grid;
    grid-template-columns: 3rem auto;
    grid-template-rows: 11.5rem 11.5rem;
    }
    
    .h2{
        font-size: 2.5rem;
        font-weight: 400;
        margin-left: 1rem;
        margin-top: 5rem;
    
      
    }
    .p{
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem;
    
        line-height: 1.5rem;
        margin-top: 2rem;
        
    }
        
      }
    
