
.time{
    margin-top: 1rem;
}
.circle{
    height: 3rem;
    width: 3rem;
    background-color: white;
    margin-left: 1rem;
    border-radius: 10rem;
    
}
.line{
    height: 15rem;
    width: .3rem;
    background-color: white;
    margin-left: 2.3rem;
 
}
.line2{
    height: 8rem;
    width: .3rem;
    background-color: white;
    margin-left: 2.3rem;
}
.little{
    height: 1rem;
    width: .3rem;
    background-color: white;
    margin-left: 2.3rem;
}


