.div{
    position: relative;
}
.box{
position: absolute;
top: 8rem;
left: 5%;

height: 70vh;
width: 74vw;
background-color: black;
color: white;
animation: slide-in-left .5s ease-in;
}
  

.arrow_forward{
    position: absolute;
    top: 59%;
    left: 91%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
}
.arrow_backward:hover, .arrow_forward:hover{
font-size: 3rem;
}
 

.arrow_backward{    
    position: absolute;
    top: 55%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
}




@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }



//content
.h1{
    font-size: 7vh;
    text-align: center;
    margin: 5% 0 1% 0;
    font-weight: 400;

}
.h2{
    font-size: 3vh;
    text-align: center;
    margin: 0 0 2% 0;
    font-weight: 400;

}


 .hidden{
    height: 35vh;
    width: 30vw;
    // padding: 20% 0;
    opacity: 0;
 }
 .hidden:hover{
     opacity: 1;
     background-color: rgba(255, 249, 249, 0.849);
 }
.p{
    color: black;
    font-size: 3vh;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 50%;
   
    
    
}
.p:hover{
    opacity: 1;
}

.container{
    display: grid;
    grid-template-columns: 41% 41%;
}

.img_dogatas{
    background-image: url(../../images/Homepage-dogatas.jpg);
}
.img_mtnet{
    background-image: url(../../images/mtnetcod.jpg);
}
.img_cv{
    background-image: url(../../images/cv-tom-prototype.png);
}
.img_coffe{
    background-image: url(../../images/coffe_without_c.png);
}
.img_travel{
    background-image: url(../../images/travel_agency.png);
}
.img_cv, .img_mtnet, .img_dogatas, .img_coffe, .img_travel{
    margin: 0 0 0 8rem;
   
    height: 35vh;
    width: 30vw;
   background-size: cover;
 transition: .5s ease;
 display: inline-block;
 cursor: pointer;
}
.mobileCart{
    display: none;
}


@media only screen and (max-width:768px) {
    .div{
        position: relative;
    }
    .box{
    position: static;

    
    height: 110vh;
    width: 100vw;
    background-color: black;
    color: white;

    
    }

    
    // content
    .h1{
        font-size: 4rem;
        text-align: center;
        margin-top: 0;
        font-weight: 400;
    padding-top: 6rem;
   
    }

    
 .hidden{
display: none;

     }

    .container{
        display: contents;

    }
    .img_dogatas{
        background-image: url(../../images/Homepage-dogatas-mobile.png);
    }
    .img_mtnet{
        background-image: url(../../images/mtnetcode-mobile.png);
    }
    .img_coffe{
        background-image: url(../../images/coffe_without_c_phone.png);
    }
    .img_travel{
        background-image: url(../../images/travel_agency_phone.png);
    }
    .img_mtnet, .img_cv, .img_dogatas, .img_coffe, .img_travel{
       height: 40vh;
       width: 95vw;
     display: block;
        margin: 1rem 1rem 0 1rem;

     border: solid .5rem rgb(252, 241, 241);
    
    }

    .mobileCart{
        display: block;
        background-color: rgb(252, 241, 241);
        width: 96.7vw;
        margin-left: 1rem;
        
    }
    .p{
       padding: 1rem 0;
        font-size: 1.5rem;
    }
      }