.div{
    position: relative;
}
.box{
position: absolute;
top: 8rem;
left: 5%;

height: 70vh;
width: 74vw;
background-color: black;
color: white;
animation: slide-in-left .5s ease-in;
}


@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

// text
.h1{
    font-size: 7vh;
    text-align: center;
    margin: 5%;
    font-weight: 400;

}
.container{
display: grid;
grid-template-columns: repeat(2, auto) ;

margin: 0 2%;
width: 10vw;
}
.item{
  width: 45vw;
  margin: 5% 2rem;
  font-size: 3vh;
}
.img{
    background-image: url(../../images/marketa.JPG);
    background-size: cover;
    height: 30vh;
    width: 15vw;
}

@media only screen and (max-width:768px) {
    .div{
        position: relative;
    }
    .box{
    position: static;

    
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    
    }
    
    // text
    .h1{
        font-size: 4rem;
        text-align: center;
        margin-top: 0;
        font-weight: 400;
    padding-top: 6rem;
    }
    .container{
    display: contents;
    
    background-color: white;
    margin: 0;
    height: 100vh;
    }
    .item{
      width: auto;
      justify-content: center;
      margin: 1rem;
      font-size: 1.6rem;
    }
    .img{
        background-image: url(../../images/marketa.JPG);
        background-size: cover;
        height: 50vh;
        width: 95vw;
        margin: 0 auto;
    }
        
      }
    